NUXT_FIREBASE_API_KEY=replace-me
NUXT_FIREBASE_AUTH_DOMAIN=replace-me
NUXT_FIREBASE_PROJECT_ID=replace-me
NUXT_FIREBASE_STORAGE_BUCKET=replace-me
NUXT_FIREBASE_MESSAGING_SENDER_ID=replace-me
NUXT_FIREBASE_APP_ID=replace-me
NUXT_PUBLIC_PARTICIPATION_AUDIO_URL_ENDPOINT=https://europe-west1-PROJECT_ID.cloudfunctions.net/getParticipationAudioUrl
